<script type="text/x-template" id="mailing-template">
  
    <div v-if="context.mode=='club' && context.cric==0">
        <div class="panel-body">
            Veuillez choisir un club...
        </div>
    </div>
    <div v-if="context.mode=='club' && context.cric>0">
        <div v-if="mailings.length==0" class="panel-body">Aucun message pour le moment...</div>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" v-on:click="addMailing()" class="btn btn-primary" v-show="editable">Ajouter un message</button>
            </div>
            <div class="col-sm-8 form-inline text-right" v-if="false">
                Catégorie : <select class="form-control" v-model="categorie" v-on:change="getMailings()">
                <option v-for="c in categories" :value="c.Value">{{c.Key}}</option>
                </select>
            </div>
        </div>
        <div class="pe-spacer size10"></div>
        <table class="table table-striped table-hover" v-if="mailings.length>0">
            <tbody>
                <tr>
                    <th class="col-sm-1">Date</th>
                    <th class="col-sm-7">Objet</th>
                    <th class="col-sm-2">Statut</th>

                </tr>
                <tr v-for="n in mailings" v-on:click="editMailing(n)">
                    <td>{{date(n.dt)}}</td>
                    <td>{{n.subject}}</td>
                    <td>{{statut(n)}}</td>
                  
                </tr>
            </tbody>
        </table>
    </div>

    <div v-if="context.mode=='district'">
        <div v-if="mailings.length==0" class="panel-body">Aucun message pour le moment...</div>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" v-on:click="addMailing()" class="btn btn-primary" v-show="editable">Ajouter un message</button>
            </div>
            <div class="col-sm-8 form-inline text-right">
                Catégorie : <select class="form-control" v-model="categorie" v-on:change="getMailings()">
                   <option v-for="c in categories" :value="c.Value">{{c.Key}}</option>
                </select>
            </div>        
        </div>
        <div class="pe-spacer size10"></div>
        <table class="table table-striped table-hover" v-if="mailings.length>0">
            <tbody>
                <tr>
                    <th class="col-sm-1">Date</th>
                    <th class="col-sm-7">Sujet</th>
                    <th class="col-sm-2">Statut</th>
                </tr>
                <tr v-for="n in mail" v-on:click="editMailing(n)">
                    <td>{{date(n.dt)}}</td>
                    <td>{{n.subject}}</td>      
                    <td>{{statut(n)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
<script>
    const Mailing = {
        template: '#mailing-template',
        name: 'Mailing',
        props: {
          moduleid: Number,
          context: Object,
          editable: Boolean
        },
        data: function () {
            return {
                d: null,
                mailings: [],
                categories: [],
                categorie:''
            }
        },
      
        methods: {
            statut(n) {
                switch (n.step) {
                    case 10:
                    case 20:
                    case 30:
                        return 'Brouillon';
                    case 40:
                        return 'Préparation envoi';
                    case 50:
                        return 'Envoi en cours';
                    case 60:
                        return 'Envoyé';
                }
            },
            date(d) {
                if (!d)
                    return '';
                let dd = new Date(d);
                return dd.toLocaleDateString();
            },          
            editMailing(n) {
                sessionStorage.setItem(window.location.pathname + ":scroll", window.scrollY);
                if(this.editable && n.step<40)
                    this.$router.push("/edit/" + n.guid+"/dest");
                else
                    this.$router.push("/view/" + n.guid);
            },
            getMailings() {
                _yemon[this.moduleid].service.getData("/GetMailings", {
                    context: this.context.context,
                    categorie: this.categorie?this.categorie:''
                }, (r) => {
                  this.mailings = [];
                    if (r.data) {
                      this.mailings = JSON.parse(r.data);
                    }
                    this.$forceUpdate();
                }, (e) => {
                    toastr["error"]("Erreur : " + e.response.data.Message);
                })
            },
            getCategories() {
                _yemon[this.moduleid].service.getData("/GetCategories", {
                    context: this.context.context
                }, (r) => {
                    this.categories = [];
                    if (r.data) {
                        this.categories = r.data;
                        
                    }
                    this.$forceUpdate();
                }, (e) => {
                    toastr["error"]("Erreur : " + e.response.data.Message);
                })
            },
            addMailing() {
                this.$router.push("/edit/" + _yemon[this.moduleid].service.guid() +"/dest");
            }
        },
        mounted() {
            if (this.context.mode == 'clubs' && this.context.cric == 0)
                return;

            let lastScroll = sessionStorage.getItem(window.location.pathname + ":scroll");
            if (lastScroll)
                window.scrollTo(window.scrollX, parseInt(lastScroll));
            this.getCategories();
            this.getMailings();
            setInterval(() => { this.getMailings() }, 10000);
        }
    }
</script>