@using System.Collections;
@using System.IO;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@using DotNetNuke.Entities.Tabs;
@using System.Data;
@using System.Linq;
@using DotNetNuke.Common;
@using DotNetNuke.Entities.Users;
@using DotNetNuke.Web.Api;
@using DotNetNuke;
@using DotNetNuke.Services.Localization;
@using DotNetNuke.Entities.Modules;
@using DotNetNuke.Security.Permissions;
@using AIS;
@{
    string seo = Request.QueryString["sn"];
    int cric = 0;
    if (seo != null && seo != "")
    {
        Club club = DataMapping.GetClubBySeo(seo);
        if (club == null)
        {
            return;
        }
        cric = club.cric;
    }

    string url = ""+Yemon.dnn.DataMapping.ExecSqlScalar("select url from [ais_clubs_dons] where cric='" + cric + "'");
    if(url!="")
    { 
   
    <div class="text-center">
        <a href="@url" class="btn btn-warning" target="_blank">Je Donne</a>
    </div>
    }
}


