@using System.Xml;
@using System.Xml.Serialization;

@{ 
    AIS.Rotary.Rss feed = (AIS.Rotary.Rss)HttpContext.Current.Application["rotaryrss"];

    if (feed != null)
    {
        if(HttpContext.Current.Application["rotaryrssdate"]!=null)
        {
            DateTime date = (DateTime)HttpContext.Current.Application["rotaryrssdate"];
            if(date.Ticks<DateTime.Now.AddHours(-1).Ticks)
            {
                feed = null;
            }
        }
    }
    if (feed==null)
    {
        var url = "https://www.rotary.org/fr/rss.xml";
        var reader = XmlReader.Create(url);
        var serializer = new XmlSerializer(typeof(AIS.Rotary.Rss));
        feed = (AIS.Rotary.Rss)serializer.Deserialize(reader);

        HttpContext.Current.Application["rotaryrss"] = feed;
        HttpContext.Current.Application["rotaryrssdate"] = DateTime.Now;
    }

    if(feed==null)
    {
        return;
    }
}
    <div class="rirss">
        @foreach(var f in feed.Channel.Items)
        {
        <a href="@f.Link">
            <h3>@Html.Raw(f.Title)</h3>
            <div>@Html.Raw(f.Description.Replace("</p>","<span class=\"btn btn-link\">Voir plus...</span></p>"))</div>
        </a>
        }
    </div>

<style>
    .rirss a {
        margin-bottom: 2em;
        display: block;
    }
    .rirss img {
       width:100%;   
    }
    .rirss a div {
        display: grid;
        grid-template-columns: 30% auto;
        grid-column-gap: 1em;
    }
</style>