<style>
    .nav-tabs {
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: center;
    }

    @media only screen and (max-width: 480px) {
        .nav-tabs {
            display: block;
        }
    }
</style>

<script type="text/x-template" id="meetings-template">

    <div id="meetingsList">
        <div class="row">
            <div class="col-sm-3">
                <button type="button" v-on:click="createMeeting()" class="btn btn-primary" v-show="editable">Créer une réunion</button>
            </div>
            <div class="col-sm-8 form-inline text-right" v-show="editable">
                Type : <select class="form-control" v-model="categorie" v-on:change="getMeetings()">
                    <option value="unitary" selected>Unique</option>
                    <option value="periodic">Périodique</option>
                </select>
            </div>
        </div>
        <div class="meeting">
            <div v-if="meetings.length==0">
                <div class="pe-spacer size20"></div>
                <div v-if="meetings.length==0">
                    Aucune réunion pour le moment...
                </div>
            </div>

            <div v-if="this.meetings.length>0">
                <h1>Liste des réunions en cours</h1>
                <div v-if="categorie=='unitary'">
                    <ul class="nav nav-tabs">
                        <li :class="{ 'active': prochaines }">
                            <a v-on:click="prochaines=true">Prochaines</a>
                        </li>
                        <li :class="{ 'active': !prochaines }">
                            <a v-on:click="prochaines=false">Passées</a>
                        </li>
                    </ul>
                </div>
                <div v-if="selectedMeetings()==0 && categorie=='unitary'" class="text-center">
                    <div class="pe-spacer size20"></div>
                    <span v-if="futures">Aucune prochaine réunion pour le moment...</span>
                    <span v-else>Aucune réunion passée pour le moment...</span>
                    <div class="pe-spacer size20"></div>
                </div>
                <table class="table table-striped table-hover" v-else>
                    <tbody>
                        <tr>
                            <th>Active</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Nom</th>
                            <th>Lien</th>
                            <th>Nb Participants</th>
                            <!--<th></th>-->
                        </tr>
                        <tr class="trLink" @click="editMeeting(m)" v-for="(m, index) in selectedMeetings()" :key="m.guid">
                            <td>{{m.active}}</td>
                            <td v-if="m.type=='unitary'">Unique</td>
                            <td v-if="m.type=='periodic'">Périodique</td>
                            <td v-if="m.type=='unitary'">
                                <div v-if="date(m.dtstart)!=date(m.dtend)">
                                    du {{date(m.dtstart)}} - {{heure(m.dtstart)}} <br />
                                    au {{date(m.dtend)}} - {{heure(m.dtend)}}
                                </div>
                                <div v-if="date(m.dtstart)==date(m.dtend)">
                                    {{date(m.dtstart)}} de {{heure(m.dtstart)}} à {{heure(m.dtend)}} {{duree(m.dtstart,m.dtend)}}
                                </div>
                            </td>
                            <td v-if="m.type=='periodic'">
                                <div>
                                    <span v-if="m.periods.length>0">{{m.periods.length}} p&eacute;riode<span v-if="m.periods.length>1">s</span></span>
                                    <span v-if="m.periods.length==0">aucune p&eacute;riode</span>
                                </div>
                            </td>

                            <td><span>{{m.name}}</span></td>
                            <td v-if="m.type=='unitary'"><a :href="'/m-'+m.link" target="_blank">{{m.link}}</a></td>
                            <td v-if="m.type!='unitary'"></td>
                            <td>{{m.nbusers}}</td>

                            <!--<td>-->
                            <!-- ajouter un v-if pour le current user-->
                            <!--<div class="edit" style="z-index:150;" @click.stop="editMeeting(m)">
                                    <i class="fas fa-edit"></i>editer
                                </div>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</script>
<script>
    const Meetings = {
        template: '#meetings-template',
        name: 'Meetings',
        props: {
            moduleid: Number,
            context: Object,
            id: String,
            editable: Boolean
        },
        data: function () {
            return {
                meetings: [],
                categorie: 'unitary',
                prochaines: true

            }
        },
        filters: {

        },
        components: {

        },
        methods: {
            selectedMeetings() {
                this.saveState();
                if (this.categorie == "periodic")
                    return this.meetings;
                const now = new Date();
                if (this.prochaines) {
                    return this.meetings.filter(m => m.dtstart >= now).sort((a, b) => {
                        return a.dtstart - b.dtstart;
                    });
                }
                else {
                    return this.meetings.filter(m => m.dtstart < now).sort((a, b) => {
                        return b.dtstart - a.dtstart;
                    });
                }
            },
            date: function (d) {
                if (!d)
                    return '';
                let dd = new Date(d);
                var days = ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'];
                return days[dd.getDay()] + " " + dd.toLocaleDateString();
            },
            heure: function (d) {
                if (!d)
                    return '';
                let dd = new Date(d);
                return dd.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            },
            duree: function (d, f) {
                if (!d || !f)
                    return '';
                var dd = (f.getTime() - d.getTime()) / 1000 / 60;
                return '- ' + dd + ' min';
            },
            getMeetings() {
                // this.meetings = [];

                _yemon[this.moduleid].service.getData('/GetMeetings',
                    {
                        context: this.context.context,
                        category: this.categorie
                    },
                    (r) => {
                        this.meetings = r.data;
                        for (let i = 0; i < this.meetings.length; i++) {
                            this.meetings[i].dtstart = new Date(this.meetings[i].dtstart);
                            this.meetings[i].dtend = new Date(this.meetings[i].dtend);
                            if (this.meetings[i].periods)
                                this.meetings[i].periods = JSON.parse(this.meetings[i].periods);
                            else
                                this.meetings[i].periods = [];
                        }
                        //this.meetings = [];
                        //if (m) {
                        //    m.forEach((mm) => {
                        //        let mmm = JSON.parse(mm.value);
                        //        this.meetings.push(mmm);
                        //    });
                        //}

                        //this.getNbUsers();

                    });

            },
            createMeeting() {
                this.$router.push("/edit/new");

            },
            editMeeting(m) {
                this.$router.push("/edit/" + m.guid);
            },
            saveState() {
                localStorage.setItem("meetings.state",
                    JSON.stringify({
                        categorie: this.categorie,
                        prochaines: this.prochaines
                    }));
            }



        },
        mounted() {

            var saved = localStorage.getItem("meetings.state");
            if (saved) {
                saved = JSON.parse(saved);
                this.categorie = saved.categorie;
                this.prochaines = saved.prochaines;
            }

            if (!this.editable) {
                this.$router.push("/");
                return;
            }
            this.getMeetings();

            setInterval(() => { this.getMeetings() }, 10000);
        }
    };
</script>