<script type="text/x-template" id="meetingedit-template">
    <div>
        <div class="row">

            <div class="col-sm-3 ">
                <button type="button" @click="cancel()" class="btn btn-default">Retour</button>&nbsp;
                <button type="button" v-if="isValid()" @click="saveMeeting()" class="btn btn-primary">Valider</button>
            </div>
            <div class="col-sm-7 ">
                <button type="button" v-if="this.id!='new' &&  meeting.type=='unitary'" @click="createBulletin()" class="btn btn-info">Créer Compte Rendu</button>
            </div>

            <div class="col-sm-2">
                <button v-if="this.id!='new'" type="button" v-on:click="deleteMeeting()" class="btn btn-sm btn-danger" title="Supprimer" v-if="id!='new'">Supprimer</button>
            </div>
        </div>

        
        <div>
            <div class="pe-spacer size20" />


            <div class="row">
                <div class="col-sm-3">
                    <label for="type">Type</label>
                </div>
                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" name="type" value="unitary" v-model="meeting.type" :disabled="nouveau==false">Unique</label>
                    <label class="radio-inline"><input type="radio" name="type" value="periodic" v-model="meeting.type" :disabled="nouveau==false">Périodique</label>
                </div>

            </div>
            <div class="pe-spacer size10" />

            <div v-if="meeting.type=='unitary'">
                <div class="row">
                    <div class="col-sm-3">
                        <label for="dtstart">Début</label>
                    </div>
                    <div class="col-sm-3">
                        <input id="dtstart" class="form-control" type="datetime-local" v-model="meeting.dtstart" v-on:change="updateDtEndActive()">
                    </div>
                </div>
                <div class="pe-spacer size10" />
                <div class="row">
                    <div class="col-sm-3">
                        <label for="dtend">Fin</label>
                    </div>
                    <div class="col-sm-3">
                        <input id="dtend" class="form-control" type="datetime-local" v-model="meeting.dtend">
                        <em v-if="dateEndNotValid()" class="text-danger">La date de fin doit être postérieure à la date de début</em>
                    </div>
                    <div class="col-sm-3">
                        <span v-if="meeting.dtstart!=''">
                            <button type="button" class="btn btn-default" v-on:click="setEnd(1)">+1H</button>&nbsp;
                            <button type="button" class="btn btn-default" v-on:click="setEnd(2)">+2H</button>
                        </span>
                    </div>
                </div>
                <div class="pe-spacer size10"></div>
            </div>

            <div class="row" v-if="meeting.type=='periodic'">
                <div class="col-sm-3">
                    <label for="periodics">Programmation active</label>
                </div>
                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" name="periodics" value="O" v-model="meeting.doperiodics">Oui</label>
                    <label class="radio-inline"><input type="radio" name="periodics" value="N" v-model="meeting.doperiodics">Non</label>
                </div>
                <div class="col-sm-12">
                    <em>
                        La programmation va cr&eacute;er automatiquement des r&eacute;unions unitaires, selon les jours définis ci-dessous
                    </em>
                </div>
            </div>
            <div class="pe-spacer size20" />
            <div v-if="meeting.type=='periodic'">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Jours dans le mois :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <button v-if="meeting.periods.length==0" type="button" class="btn btn-default" v-on:click="addPeriod()">Ajouter une p&eacute;riode</button>

                        <table v-if="meeting.periods.length>0" class="table">

                            <tr>
                                <td>Jour</td>
                                <td v-for="p in meeting.periods">
                                    <select v-model="p.day" class="form-control">
                                        <option>Lundi</option>
                                        <option>Mardi</option>
                                        <option>Mercredi</option>
                                        <option>Jeudi</option>
                                        <option>Vendredi</option>
                                        <option>Samedi</option>
                                        <option>Dimanche</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="100">N° de jour</td>
                                <td v-for="p in meeting.periods" width="100">
                                    <select v-model="p.num" class="form-control">
                                        <option :value="1">1er</option>
                                        <option :value="2">2ème</option>
                                        <option :value="3">3ème</option>
                                        <option :value="4">4ème</option>
                                        <option :value="5">5ème</option>
                                    </select>
                                </td>
                                <td rowspan="5">
                                    <button v-if="meeting.periods.length<6" type="button" class="btn btn-primary" v-on:click="addPeriod()" title="Ajouter un jour"><i class="fa fa-plus"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>Début</td>
                                <td v-for="p in meeting.periods">
                                    <input id="dtstart" class="form-control" type="time" v-model="p.start" v-on:change="p.end=addHour(p.start,1)">
                                </td>
                            </tr>
                            <tr>
                                <td>Fin</td>
                                <td v-for="p in meeting.periods">
                                    <input id="dtend" class="form-control" type="time" v-model="p.end">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td v-for="(p,index) in meeting.periods">
                                    <button type="button" v-on:click="this.meeting.periods.splice(index,1)" class="btn btn-danger" title="Supprimer"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="pe-spacer size10" />
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label for="name">Nom de la réunion</label>
                </div>
                <div class="col-sm-8">
                    <input id="name" class="form-control" type="text" v-model="meeting.name" size="255">
                </div>
            </div>
            <div class="pe-spacer size10" />
            <div class="row">
                <div class="col-sm-3">
                    <label for="statutory">Réunion statutaire</label>
                </div>
                <div class="col-sm-8">
                    <label class="radio-inline"><input type="radio" name="statutory" value="O" v-model="meeting.statutory">Oui</label>
                    <label class="radio-inline"><input type="radio" name="statutory" value="N" v-model="meeting.statutory">Non</label>
                </div>
            </div>

            <div class="pe-spacer size10" />
            <div class="row">
                <div class="col-sm-3">
                    <label for="active">Inscription active</label>
                </div>
                <div class="col-sm-3">
                    <label class="radio-inline"><input type="radio" name="active" value="O" v-model="meeting.active">Oui</label>
                    <label class="radio-inline"><input type="radio" name="active" value="N" v-model="meeting.active">Non</label>
                </div>
                <div class="col-sm-6" v-if="meeting.type=='unitary' && meeting.active=='N'">
                    <em>
                        La notification n&#39;est possible que lorsque l&#39;inscription est active
                    </em>
                </div>
            </div>
            <div class="pe-spacer size10" />
            <div class="row" v-if="meeting.active=='O' && meeting.type=='unitary'">
                <div class="col-sm-3">
                    <label for="dtendactive">Date fin inscription</label>
                </div>
                <div class="col-sm-3">
                    <input id="dtendactive" class="form-control" type="datetime-local" v-model="meeting.dtendactive">
                </div>
                <div class="col-sm-6" v-if="dateEndActiveNotValid()">
                    <em class="text-danger">La date de fin doit être antérieure à la date de début</em>
                </div>
            </div>
            <div class="pe-spacer size10" v-if="meeting.active=='O' && meeting.type=='unitary'" />

            <div class="row" v-if="meeting.type=='unitary' && meeting.active=='O'">
                <div class="col-sm-3">
                    <label for="mustnotify">Notification aux destinataires</label>
                </div>
                <div class="col-sm-4">
                    <label class="radio"><input type="radio" name="mustnotify" value="O" v-model="meeting.mustnotify" v-on:click="setQuand()">Oui</label>
                    <label class="radio"><input type="radio" name="mustnotify" value="N" v-model="meeting.mustnotify">Non</label>
                </div>
                <div class="col-sm-5" v-if="meeting.notif1done=='O'">
                    <div>{{messageNotified()}}</div>
                </div>

            </div>
            <div class="row" v-if="meeting.type=='unitary' && meeting.mustnotify=='O' && quand  && meeting.active=='O'">
                <div class="col-sm-3">
                    <label for="notifywhen">Quand ?</label>
                </div>
                <div class="col-sm-9">
                    <label class="radio"><input type="radio" name="notifywhen" value="now" v-model="quand" v-on:click="setQuand()">Maintenant</label>
                    <label class="radio"><input type="radio" name="notifywhen" value="later" v-model="quand">Plus tard</label>
                </div>
                <div class="col-sm-3" v-if="quand=='later'">

                </div>
                <div class="col-sm-3" v-if="quand=='later'">
                    <input id="dtrevision" class="form-control" type="datetime-local" v-model="meeting.dtrevision">
                </div>
            </div>
            <div class="row" v-if="meeting.type=='unitary' && meeting.mustnotify=='O'  && meeting.active=='O'">
                <div class="col-sm-3">
                    <label for="notificationtype">Destinataires</label>
                </div>
                <div class="col-sm-9">
                    <label class="radio"><input type="radio" name="notificationtype" value="A" v-model="meeting.notificationtype">Tous les membres</label>
                    <label class="radio"><input type="radio" name="notificationtype" value="M" v-model="meeting.notificationtype">Membres hors club satellite</label>
                    <label class="radio"><input type="radio" name="notificationtype" value="S" v-model="meeting.notificationtype">Membres club satellite seulement</label>
                    <label class="radio" v-for="r in recipients"><input type="radio" name="notificationtype" :value="r.guid" v-model="meeting.notificationtype">{{r.title}}</label>

                    <!--<label class="radio"><input type="radio" name="notificationtype" value="C" v-model="meeting.notificationtype">Membres du bureau</label>-->
                </div>

            </div>
            <div class="pe-spacer size10" v-if="meeting.type=='unitary' && meeting.active=='O'"></div>
            <div class="row" v-if="meeting.type=='unitary' && meeting.mustnotify=='O'  && meeting.active=='O'">
                <div class="col-sm-3">
                    <label for="notificationtype">Message de notification</label>
                </div>
                <div class="col-sm-9">
                    <tinymce :value="meeting.notificationmsg"
                             ref="meetingeditor"
                             class="form-control"
                             :plugins="editorPlugins"
                             :toolbar1="editorToolbar"
                             :other="editorOptions" />
                 
                </div>

            </div>
            <div class="pe-spacer size10" v-if="meeting.type=='unitary' && meeting.active=='O'"></div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Contenu détaillé</h4>
                </div>
                <div class="col-sm-12">
                    <blocks-editor :blocks="blocks" :moduleid="moduleid" :editable="editable"></blocks-editor>
                </div>
            </div>

        </div>
    </div>
</script>
<script>
    const MeetingEdit = {
        template: '#meetingedit-template',
        name: 'MeetingEdit',
        props: {
            moduleid: Number,
            context: Object,
            id: String,
            editable: Boolean
        },
        data: function () {
            return {
                blocks: [],
                meeting: {
                    periods: []
                },
                blocks: [],
                quand:'now',
                nouveau:false,
                users: [],
                meetingsList: true,
                meetingParticipants: 0,
                currentMeeting: [],
                lastRef: '',
                delConfirm: false,
                delSelect: '',
                whatIsToday: new Date().toISOString().slice(0, 10),
                interval: null,
                editorPlugins: [
                    'autoresize advlist autolink lists link charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code directionality template textpattern'
                ],

                editorToolbar: 'undo redo | table | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | link | forecolor backcolor | bullist numlist | removeformat',
                editorOptions: {
                    //height: 200,
                    relative_urls: false,
                    document_base_url: '/',
                    remove_script_host: false,
                    images_upload_url: this.serviceurl,
                    automatic_uploads: false,
                    menubar: false,
                    statusbar: false,
                    language: 'fr_FR',
                    table_toolbar: 'tableprops tabledelete | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol'

                },
                recipients: RECIPIENTS
            }
        },
        filters: {
            date: function (d) {
                if (!d)
                    return '';
                let dd = new Date(d);
                return dd.toLocaleDateString();
            }
        },
        components: {
            BlocksEditor,
            'tinymce': VueEasyTinyMCE
        },
        methods: {
            messageNotified() {
                if (this.meeting.dtnotif1 == '0001-01-01T00:00:00')
                    return "";
                return "notifiée aux membres le " + this.date(this.meeting.dtnotif1) + " à " + this.heure(this.meeting.dtnotif1);
            },
            updateDtEndActive() {
                let dtstart = new Date(this.meeting.dtstart);
                let dtend = new Date(this.meeting.dtendactive);
                if (dtend > dtstart || !this.meeting.dtendactive)
                    this.meeting.dtendactive = this.meeting.dtstart;                
            },
            dateEndNotValid() {
                let dtstart = new Date(this.meeting.dtstart);
                let dtend = new Date(this.meeting.dtend);
                return dtend <= dtstart;
            },
            dateEndActiveNotValid() {
                let dtstart = new Date(this.meeting.dtstart);
                let dtend = new Date(this.meeting.dtendactive);
                return dtend > dtstart;
            },
            setQuand() {
                this.quand = 'now';
                this.meeting.dtrevision = (new Date()).localeFormat('yyyy-MM-ddTHH:mm');
            },
            addPeriod() {
                this.meeting.periods.push({
                    num: 0,
                    day: '',
                    start: '',
                    end:''
                })
            },
            date: function (d) {
               
                if (!d)
                    return '';
                let dd = new Date(d);                
                return dd.toLocaleDateString();
            },
            heure: function (d) {
                if (!d)
                    return '';
                let dd = new Date(d);
                return dd.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
            },
            setEnd(n) {
                let d = new Date(this.meeting.dtstart);
                d.setHours(d.getHours() + n);
                this.meeting.dtend = d.localeFormat('yyyy-MM-ddTHH:mm');
            },
            addHour(h,n) {
                let d = new Date('0000-01-01 '+h);
                d.setHours(d.getHours() + n);
                return d.localeFormat('HH:mm');
            },
            clearNotif1() {
                delete this.meeting.dtnotif1;
                delete this.meeting.notif1done;
            },
            cancel() {
                this.$router.push("/");
            },
            getBlocks() {
                _yemon[this.moduleid].service.getData("/GetItem", {
                    name: 'blockscontent:' + this.id
                }, (r) => {
                    this.blocks = [];
                    if (r.data) {
                        this.blocks = JSON.parse(r.data);
                        for (let i = 0; i < this.blocks.length; i++)
                            this.blocks[i].Content = JSON.parse(this.blocks[i].Content);
                    }
                    this.$forceUpdate();
                }
                    //, (e) => {
                    //toastr["error"]("Erreur : " + e.response.data);
                    //}
                )
            },
            getMeeting() {
                this.meeting = {};

                _yemon[this.moduleid].service.getData('/GetMeeting',
                    {
                        context: this.context.context,
                        guid: this.id
                    },
                    (r) => {
                        this.meeting = r.data;
                        this.meeting.dtstart = this.meeting.dtstart.substring(0,16);
                        this.meeting.dtend = this.meeting.dtend.substring(0, 16);
                        this.meeting.dtrevision = this.meeting.dtrevision.substring(0, 16);
                        this.meeting.dtendactive = this.meeting.dtendactive.substring(0, 16);
                        this.meeting.periods = JSON.parse(this.meeting.periods);
                        if (!this.meeting.notificationmsg)
                            this.meeting.notificationmsg = DEFAULTNOTIFICATIONMSG;
                        if (!this.meeting.periods)
                            this.meeting.periods = [];
                        if (!this.meeting.notificationtype || this.meeting.notificationtype == '')
                            this.meeting.notificationtype = 'A';
                        if (this.meeting.type == "unitary" && this.meeting.mustnotify == 'O') {
                            
                            var d = new Date(this.meeting.dtrevision);
                            var n = new Date();
                            if (d.getTime() > n.getTime()) {
                                this.quand = 'later';
                            }
                            else {
                                this.setQuand();
                            }
                        }

                        this.getBlocks();
                    });

            },
            deleteMeeting() {
                if (confirm("Supprimer la réunion ?")) {
                    _yemon[this.moduleid].service.getData("/DeleteMeeting", {
                        guid: this.meeting.guid
                    }, (r) => {
                        this.$router.push("/");

                    }
                        //, (e) => {
                        //toastr["error"]("Erreur : " + e.response.data);
                        //}
                    )


                }
            },
            isValid() {
                if (this.meeting.type == 'unitary')
                    return this.meeting.name != '' && !this.dateEndNotValid();
                else
                    return this.meeting.name != '';
            },
            createBulletin() {

                this.saveMeeting(() => {
                    _yemon[this.moduleid].service.getData("/CreateBulletin", { guid: this.meeting.guid }, (r) => {

                        window.location.assign("/Espace-Membre/Mon-club/Communication/Nouvelles#/edit/" + r.data);                        
                    });
                });
            },
            saveMeeting(callBack) {

                if (this.$refs.meetingeditor)
                    this.meeting.notificationmsg = this.$refs.meetingeditor.objTinymce.getContent();

                let b = JSON.parse(JSON.stringify(this.blocks));
                for (let i = 0; i < b.length; i++)
                    b[i].Content = JSON.stringify(b[i].Content);

                let m = JSON.parse(JSON.stringify(this.meeting));
   
                m.periods.forEach((p) => {
                    if (!p.guid) {
                        p['guid'] = _yemon[this.moduleid].service.guid();
                    }
                });
                m.periods = JSON.stringify(m.periods);
                
                _yemon[this.moduleid].service.postData("/SetMeeting", {
                    context: this.context.context,
                    meeting: JSON.stringify(m),
                    blocks: JSON.stringify(b)
                }, (r) => {
                    if (callBack)
                        callBack();
                    else
                        this.$router.push("/");

                }
                    //, (e) => {
                    //toastr["error"]("Erreur : " + e.response.data);
                    //}
                )
            }
        },
        mounted() {
            
            if (!this.editable) {
                this.$router.push("/");
                return;
            };


            if (this.id == 'new') {
                this.nouveau = true;
                this.meeting = {
                    guid: _yemon[this.moduleid].service.guid(),
                    doperiodics:'O',
                    active: 'O',
                    type: 'unitary',
                    statutory: 'O',
                    name: '',
                    mustnotify: 'N',
                    notificationmsg: DEFAULTNOTIFICATIONMSG,
                    periods:[]
                };
            } else {
                this.getMeeting();
            }

        }
    };
</script>