<script type="text/x-template" id="newsview-template">
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default" v-on:click="cancel()">Retour</button>&nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>{{news.title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">

        </div>
        <div class="col-sm-2">
            <p>{{news.dt?new Date(news.dt).toLocaleDateString():''}}</p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12" v-if="blocks.length>0">
            <blocks-editor :blocks="blocks" :moduleid="moduleid" :editable="editable"></blocks-editor>
        </div>
        <div class="col-sm-12" v-if="blocks.length==0 && news.photo!=''">
            <img :src="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+ news.photo" :title='news.title'/>
        </div>
    </div>

</script>
<script>
    const NewsView = {
        template: '#newsview-template',
        name: 'NewsView',
        props: {
            moduleid: Number,
            context: Object,
            id: String,
            editable: Boolean
        },
        data: function () {
            return {
                blocks: [],
                news: {},
                blocks: [],
                fichiers: [],
            }
        },
        filters: {
            date: function (d) {
                if (!d)
                    return '';
                let dd = new Date(d);
                return dd.toLocaleDateString();
            }
        },
        components: {
            BlocksEditor
        },
        methods: {
            

            cancel() {
                this.$router.push("/");
            },
            getBlocks() {
                _yemon[this.moduleid].service.getData("/GetItem", {
                    name: 'blockscontent:' + this.id
                }, (r) => {
                    this.blocks = [];
                    if (r.data) {
                        this.blocks = JSON.parse(r.data);
                        for (let i = 0; i < this.blocks.length; i++)
                            this.blocks[i].Content = JSON.parse(this.blocks[i].Content);
                    }
                    this.$forceUpdate();
                }, (e) => {
                    toastr["error"]("Erreur : " + e.response.data.Message);
                })
            },
            getNewsDetail() {
                _yemon[this.moduleid].service.getData("/GetNewsDetail", {
                    guid: this.id
                }, (r) => {
                    this.news = {};
                    if (r.data == 'null') {
                        this.$router.push("/");
                    }
                    else if (r.data) {
                        this.news = JSON.parse(r.data);
                        this.news.dt = new Date(this.news.dt + 'Z').toISOString().substr(0, 10);
                        this.getBlocks();
                    }
                    else {
                        this.$router.push("/");
                    }
                    this.$forceUpdate();
                }, (e) => {
                    toastr["error"]("Erreur : " + e.response.data.Message);
                })
            },
         


        },
        mounted() {
            this.getNewsDetail();
            window.scrollTo(window.scrollX, 0);
        }
    }
</script>