.block-image-text-g, .block-image-text-d, .block-image-text-b, .block-image-text{
    margin:$spacer;
    padding:0;
    a{
            text-decoration: underline;
    }

    div[style="color: rgb(255, 255, 255);"] {
        a{
            color:$secondary-bg;
        }
    }
}

.block-image-text-g{

    h2{
        font-size:160%;
        margin:-.25em $spacer 0 0;
        
        + div:first-of-type > *:first-child{
            margin-top:1em;
        }
    }

    > div:first-child img{width:100%;}
    > div > div > p:last-child{margin-bottom:0;}

    &.colored > div + div{
        margin: 0 $spacer $spacer $spacer;
    }
}

.block-image-text-d{
    h2{
        font-size:160%;
        margin:-.25em 0 0 0;
        
        + div:first-of-type > *:first-child{
            margin-top:1em;
        }
    }

    > div + div img{width:100%;}
    > div > div > p:last-child{margin-bottom:0;}

    &.colored > div:first-child{
        margin:$spacer $spacer 1rem $spacer;
    }
}

.block-image-text-b{
    h2{
        font-size:160%;
        margin:0;

        + div:first-of-type > *:first-child{
            margin-top:1em;
        }
    }

    > div > img{
        margin:1em 0 0 0;
    }

    > div > div > p:last-child{margin-bottom:0;}

    .colored{
        padding:$spacer;

        + div{padding:0;}
    }
}

.block-image-text{
    h2{
        font-size:160%;
        margin:0;
        
        + div:first-of-type > *:first-child{
            margin-top:1em;
        }
    }

    > div:first-child img{padding-bottom:$spacer;}
    > div > div > p:last-child{margin-bottom:0;}

    .colored{
        padding:0 $spacer $spacer $spacer;

    }
}




@media handheld, only screen and (min-width: 768px){
    .block-image-text-g{    
        &.colored > div + div{
            margin: $spacer $spacer $spacer 0;
        }
    }

    .block-image-text-d{
        &.colored > div:first-child{
            margin:$spacer 0 $spacer $spacer;
        }
    }
}



@media screen and (min-width: 960px) {

}

@media handheld, only screen and (min-width: 1024px){
    .block-image-text-g, .block-image-text-d, .block-image-text-b, .block-image-text{
        max-width: calc($content-width - ($spacer * 8));
        margin: $spacer auto;
    }
}

@media handheld, only screen and (min-width: 1280px){
    .block-image-text-g, .block-image-text-d, .block-image-text-b, .block-image-text{
        max-width: calc($content-width - ($spacer * 7));
    }
}


