.header {
    background-color:$default-bg;
    position: fixed;
    z-index: 10;
    left:0;
    right:0;
    top:0;
    height:102px;

    .logo-style {
        max-height: 80px;
        padding: 10px 0 12px 0;
    }
}

.personabar-visible{
    .mobile-display header{left:80px !important;}
    .pc-display.header{
        left:80px;

        .m-lvl1{margin-left:260px !important;}
    }
    .pc-display.header-membre{
        left:80px;

        .m-lvl1{margin-left:260px !important;}
    }
} 



.mobile-display{
    header{
        display: flex;
        align-items: center;
        box-shadow: 0 8px 15px rgba(0,0,0,.1);
        z-index:9999;
        position: fixed;
        height:60px;
        left:0;
        right:0;
        top:0;
        background-color: $default-bg;

        a + a{
            display:block;
            text-align: center;
            flex-grow: 1;
        }

        .logo-style{max-height:60px;padding:7px 10px;}
    }

    .head-menu-m{
        text-align: center;
        font-size: 0.9em;
        padding:20px 0 0 0;
        border-bottom: 1px solid $secondary-bg;
        color:$secondary-text;

        a, a.visited{
            padding: 0 10px;
            font-size: 1.3em;
            color: $primary;

            &:hover{color:$info;}
        }

        .user-m {
            display:block;
            padding:10px 0;
            color:$dark;
        }
        .info-text{padding-bottom:10px; line-height: 3em;}
    }
}

.menu-click{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 60px;
    width: 60px;
    border-right: 1px solid $secondary-bg;
    text-decoration: none;
    background:$default-bg;

    img{width:30px;}
}

.menu-mob {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    left: 0px;
    width: 100%;
    bottom: 0;
    top: 60px;
    z-index: 100;
    visibility: hidden;
}

#MENUMOB {
    position: fixed;
    left: -800px;
    width: 87%;
    bottom: 0;
    top: 60px;
    z-index: 100;
    overflow-y: auto;
    background: #ffffff;
    padding:0;

    .m-lvl1 {
        margin: 0;
        padding:10px 0 0 0;
        font-size:135%;

        > div {
            display:block;
            padding: 0 0 1em 0;
            margin: 0;

            a{
                display: block;
                color: $default-text;
                line-height: 1.2em;

                &:hover{
                    color:$info;
                }
            }
            
            > a {
                padding: 10px 20px 10px 15px;
                font-size: 105%;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
            }
        }
    }
    
    .m-lvl2 > div > a {
        padding: 10px 10px 12px 30px;
    }
    
    .m-lvl3 {
        a{
            padding:3px 0 .5em 3.5em;
            font-size:90%;
        }

        > div:last-child a{
            padding-bottom:1em;
        }
    }

    .m-lvl4{display:none;}
}





/*---------------- HEADER MEMBRE ---------------*/
.header-membre{
    background: #1e3c64 !important;
    position: relative;
    z-index: 1000;
    color: $default-bg !important;
    font-family: Arial, Helvetica, sans-serif;

    .content-wrapper{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .logo-style {
        display: flex;
        align-items: center;
        position: relative;
        flex-grow: 0;

        img{
            max-height:60px;
            padding:7px 10px;
        }    

    }

    #Login {
        color: #bbbbbb;
        margin-bottom:10px;
        margin-right:10px;
        gap:5px;
        display: flex;
        justify-content:space-between;
        align-items:end;
        font-size:13px;

        > a{
            color:#bbbbbb;

            &:hover{
                text-decoration: underline;
                color: #ffffff;
            }
        }
    }

    .icons-menu {
        flex-grow:1;
        margin: 8px px 7px 2px 0;
        position: relative;
        z-index: 1000;
        font-size: 0.9em;

        > a{color: $default-bg;}

        .user-head{
            display: flex;
            justify-content: flex-end;
            gap:10px;
            margin-right:10px;
            line-height:2em;

            > a{color: $default-bg;}
        }
    }

    .titres-membre{
        text-align:center;
        flex-grow:1;

        > a{color:$secondary-text;}
        p{color: $default-bg;}

        p:first-child{
            font-size:16px;
            line-height: 1.2em;
            font-weight:bold;
            margin:10px 0;
        }
    }

    .menuclick{
        display:flex;
        align-items:center;
        justify-content:center;
        height: 60px;
        width: 60px;
        border-right: 1px solid $primary;
        text-decoration: none;

        img{width:29px;}
    }
    + .menu-mob{top:65px;}
}


/* menu membre desktop */
.menubar-membre {
    /*background-color: #18365d;*/
    background: #18365d;
    box-shadow: 0 0 18px rgba(0,0,0,.3);
    /*min-height: 50px;*/
    position: relative;
    margin:0 0 20px 0;
    font-family: Arial, Helvetica, sans-serif;

    .menu {
        z-index: 9999;
        padding: 0;
    }

    .m-lvl1{
        position: relative;
        display:flex;
        justify-content:center;

        > div {
            display:block;
            float:left;
            padding: 0;
            margin: 0;

            > a {
                display: block;
                height: 50px;
                line-height: 50px;
                font-size: 0.95em;
                white-space: nowrap;
                color: #ffffff;
                background: transparent url('../Rodi2025/images/menu.png') no-repeat center 80px;
                padding:0 2.8rem;
            }

            &:hover{
                > a {
                    background-position: center 40px;
                    transition: background-position .3s ease-out .2s;
                } 
                .m-lvl2 {
                    visibility: visible;
                    display: flex;
                    justify-content: center;
                    opacity: 1;
                    transition: all 0.3s ease-out;
                    transition-delay:.4s;
                }
            } 
        }
    }

    .m-lvl2 {
        visibility: hidden;
        position: absolute;
        width: 100%;
        z-index: 3;
        top: 50px;
        left: 0;
        right: 0;
        background: $default-bg;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
        padding: 25px 0 50px 0;
        opacity: 0;
        margin: 0;

        > div {
            display: inline-block;
            padding: 0 15px;
            border-left: #e8ebee 1px solid;
            vertical-align: top;

            &:first-child {
                border-left:none;
            }

            &:hover > a {
                background-position: 10px center;
                cursor: pointer;
                transition: all 0.3s ease-in;
            }

            > a {
                color: #39424a;
                font-size: 1rem;
                background: url("../Rodi2025/images/arrow1.png") no-repeat -12px center;
                display: block;
                float: none;
                font-weight:700;
                padding:0 20px;
            }
        }
    }

    .m-lvl3, .m-lvl4 {
        display: block;
        padding: 10px 0 0 0;
        font-size: 0.9em;
        margin: 0;
    }

    .m-lvl3 > div {
        display: block;

        &:hover > a {
            background-position: 10px center;
            cursor: pointer;
            transition: all 0.3s ease-in;
        }

        > a {
            padding: 5px 27px;
            background: url("../Rodi2025/images/arrow1.png") no-repeat -12px center;
            display: block;
            float: none;
            color: #39424a;
        }        
    }
    
    .m-lvl4 {
        padding-top: 0;

        div {
            &:hover a {
                background-position: 10px center;
                cursor: pointer;
                transition: all 0.3s ease-in;
            }

            a {
                margin-left: 10px;
                padding: 2px 30px;
                display: block;
                float: none;
                color: #39424a;
                background: url("../images/arrow1.png") no-repeat -12px center;
            }
        }
    }

    .m-lvl1 > div:hover > a,
    .m-lvl2 > div:hover > a,
    .m-lvl3 > div:hover > a,
    .m-lvl4 > div:hover a {
        color: #0197c1;
    }
}

.personabar-visible #MENUMOB{
    width: calc(87% - 80px);
}

/* menu membre mobile */
#MENUMOB.menu-membre{
    background: #1e3c64 !important;
    top:65px;
    

    .icons-menu{
        border-bottom:$info 1px solid;
        color: $info;
        padding:10px;
        margin:0 10px;
        
        .text-center > a{
            color:$light-text;
            display: inline-block;
            padding:0 0 .5em 0;
        }

        .user-head {
            padding-top:10px;

            a{
                color:$default-bg;
                display: inline-block;
                padding:.5em 0 0 0;
            }
        }    
    }

    .m-lvl1{
        font-family: Arial, Helvetica, sans-serif !important;
        font-size:100% !important;

        > div{
            padding:0;
            background: transparent url(../Rodi2025/images/arrow1.png) no-repeat -12px 20px;
            transition: all 0.3s ease-in;

            &:hover{
                background-position: 10px 20px;
                transition: all 0.3s ease-in;

                > a{color:$info !important;}
            }
        }

        a{
            color:$default-bg !important;

            &:hover{
                color:$info !important;
            }
        }

        > div > a{
            text-transform: none;
            font-weight: normal;
            font-size: 16px;
            display: block;
            padding: 0 2.8rem;
            height:50px;
            line-height:50px;
        }

        .m-lvl2{
            margin: 0 0 20px 2.8rem;
            padding: 0;
            border-left: 1px solid $primary;

            > div{
                background: transparent url(../Rodi2025/images/arrow1.png) no-repeat -12px 11px;
                transition: all 0.3s ease-in;

                &:hover{
                    background-position: 10px 11px;
                    transition: all 0.3s ease-in;

                    > a{color:$info !important;}
                }
            }

            > div > a{
                padding: 7px 27px;
                font-weight: bold;
                font-size: 16px;
            }
        }

        .m-lvl3 {
            > div{
                background: transparent url(../Rodi2025/images/arrow1.png) no-repeat -12px 9px;
                transition: all 0.3s ease-in;
                margin-left:15px;

                &:hover{
                    background-position: 10px 9px;
                    transition: all 0.3s ease-in;

                    > a{color:$info !important;}
                }
            }
        
            > div > a{
                padding: 5px 37px;
                font-size:14px;
            }
        }
    }
}

.mobile-display .header-membre{height:65px;}


/*--------- CSS Reset for Tablet ----------*/
@media handheld, only screen and (min-width: 1024px) and (max-width: 1140px) {
    .m-lvl2 > div > a {
        font-size: 0.9rem;
    }
}



@media screen and (min-width: 960px) {
    .pc-display.membre {
        position: fixed;
        left:0;
        right:0;
        top:0;
        z-index: 100;
    }
    .personabar-visible .pc-display.membre{left:80px;}

    .header-membre {
        .content-wrapper{max-width: 1140px;}
        .titres-membre p:first-child {
            font-size: 22px;
            margin-bottom:5px;
            font-weight: normal;
        }
        .logo-style img{max-height: 90px;}
    }

    .menubar-membre .content-wrapper{max-width: 1140px;}
}




/*--------- CSS Reset for Mobile ----------*/
@media handheld, only screen and (max-width: 960px) {
    .showControlBar .Public .m-lvl1 {
        top: 113px;
    }

    .showControlBar .Membre .m-lvl1 {
        top: 113px;
    }

}



/*--------- Retina Styles ----------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .menuclick {
        background-image: url("../../Rodi2017/images/retina/btn_menu@2x.png");
        -webkit-background-size: 29px 19px;
        -moz-background-size: 29px 19px;
        background-size: 29px 19px;
    }

    #standardMenu .rootMenu a span .navarrow, #standardMenu .rootMenu a span .navarrow2 {
        background-image: url("../../Rodi2017/images/retina/mobile_navarrow@2x.png");
        -webkit-background-size: 17px 80px;
        -moz-background-size: 17px 80px;
        background-size: 17px 80px;
    }
}







/*--------- Footer ----------*/
footer{
    background-color: $dark;
    padding:$spacer;

    > section{
        color:$default-bg;
        font-size:80%;
        text-align: center;

        > div:first-child{padding-bottom:1em;}

        a{
            color:$default-bg !important;

            &:hover{color:$secondary-text !important;}
        }

        img{max-height:40px; padding:0 5px;}
    }
}

.membre + .content footer{
    background-color: #1e3c64;
}



/*--------- CSS Reset for Tablet & Mobile ----------*/

@media screen and (min-width: 768px){
    .header {
        .logo-style {
            max-height: 90px;
            padding: 0;
        }

        #dnn_LOGO1_hypLogo {
            display: block;
            position: absolute;
            z-index: 999;
            max-height:78px;
            padding:0 0 10px 0;
        }

        .menu-bar {
            background-color: $default-bg;
            position: fixed;
            left: 0;
            right: 0;
            display: flex;
            height: 78px;
            overflow: hidden;
            box-shadow: 0 8px 6px rgba(0,0,0,.4);
            transition: all .3s ease-in-out;

            &:hover{
                margin-bottom:3rem;
                transition: all .3s ease-in-out;
                transition-delay: .3s;
            }

            .m-lvl1 {
                margin-left: 210px;
                display: flex;
                justify-content: space-evenly;

                > div {
                    margin-top:10px;
                    display:grid;
                    grid-template-rows: 4px 62px auto;
                    grid-template-columns: 1fr;

                    &:before{
                        content:"";
                        display:block;
                        height: 4px;
                        transition: $transition;
                        background-color: $info;
                        width:0;
                        opacity: 0;
                    }

                    &:hover:before, &.active:before{
                        width: 45%;
                        opacity: 1;
                    }

                    > a {
                        display: block;
                        text-transform: uppercase;
                        color: $default-text;
                        font-size: 105%;
                        padding-top:1rem;
                        padding-right:1em;
                    }
                    
                    &:hover, &:active {
                        border-top-color: $info;
                        transition: $transition;

                        > a{
                            color:$info;
                        }
                    }
                }
            }

            .m-lvl2 {
                /*height:0;*/
                padding: 0 1em 0 .5em;
                border-left: 1px solid $secondary-bg;
                margin:0 0 .75em 1px;
                transition:all .3s ease-in-out;
                display: flex;
                flex-direction: column;

                > div:last-child{
                    flex:1;

                    a{height:100%;}
                }

                a {
                    display: block;
                    color: $default-text;
                    padding: .5em 0;
                    font-size:100%;
                    transition:all .01s ease-in-out;

                    &:hover{
                        color:$info;
                    }

                    
                }

                .m-lvl3 a{
                    padding:0 0 .75em 1.2em;
                    font-size:90%;
                    line-height: 1.1em;

                    &:hover{
                        color:$info;
                    }
                } 

                .m-lvl4{display:none;}
            }
        }

        .mini-menu {
            font-size: 0.8em;
            padding: 5px 0 0 0;
            text-align: right;
            color: $secondary-text;

            a, a:visited {
                padding: 0 5px;
                color:$primary;

                &:hover {
                    color: $info;
                }
            }

            .user-m {
                padding: 0 5px;
            }

            .connected {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 15px;
            }
        }

        a.btn-connexion {
            background: $highlight;
            padding: 5px 18px 7px 18px !important;
            border-radius: 0 0 20px 20px;
            color: $default-bg !important;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            z-index: 9999;

            &:hover {
                text-decoration: none !important;
                background-color: $orange;
            }
        }
    }

    footer{
        padding:calc($spacer * 1.5) $spacer;
    
        > section{
            display:flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
    
            img{max-height:45px; padding:0 5px;}
        }
    }

    
}


/*--------- Retina Styles ----------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .menu-click {
        background-image: url("../../Rodi2025/images/retina/btn_menu@2x.png");
        -webkit-background-size: 29px 19px;
        -moz-background-size: 29px 19px;
        background-size: 29px 19px;
    }
}