.header {
    background-color:$default-bg;
    position: fixed;
    z-index: 999;
    left:0;
    right:0;
    top:0;
    height:106px;
}

.logo-style {
    max-height: 50px;
    padding: 10px 0 12px 0;
}

.mobile-display{
    header{
        display: flex;
        align-items: center;
        box-shadow: 0 8px 15px rgba(0,0,0,.1);
        z-index:9999;
        position: relative;
        height:90px;

        a + a{
            display:block;
            text-align: center;
            flex-grow: 1;
        }
    }

    .head-menu-m{
        text-align: center;
        font-size: 0.9em;
        padding:20px 0 0 0;
        border-bottom: 1px solid $secondary-bg;
        color:$secondary-text;

        a{
            padding: 0 15px;
        }

        .user-m {
            display:block;
            padding:10px 0;
            color:$dark;
            font-size: 1.1em;
        }
        .info-text{padding-bottom:10px; line-height: 1.5em;}
    }
}

.menu-click{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 90px;
    width: 90px;
    border-right: 1px solid $secondary-bg;
    text-decoration: none;
    background:$default-bg;

    img{width:29px;}
}

.menu-mob {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    left: 0px;
    width: 100%;
    bottom: 0;
    top: 90px;
    z-index: 100;
    visibility: hidden;
}

#MENUMOB {
    position: fixed;
    left: -800px;
    width: 65%;
    bottom: 0;
    top: 90px;
    z-index: 100;
    overflow-y: auto;
    background: #ffffff;
    padding:0;

    li{list-style: none;}

    .m-lvl1 {
        margin: 0;
        padding:10px 0 0 0;
        font-size:120%;

        > div {
            display:block;
            padding: 0 0 1em 0;
            margin: 0;

            > a {
                display: block;
                padding: 0 20px;
                line-height: 40px;
                color: $default-text;
                text-transform: uppercase;
            }
        }
    }
    
    .m-lvl2 > div > a {
        color: $primary;
        display: block;
        padding: 7px 10px 7px 27px;
    }
}

/*--------- Footer ----------*/
footer{
    background-color: $dark;
    padding:$spacer;

    > section{
        color:$default-bg;
        font-size:80%;
        text-align: center;

        > div:first-child{padding-bottom:1em;}

        a{
            color:$default-bg !important;

            &:hover{color:$secondary-text !important;}
        }

        img{max-height:40px; padding:0 5px;}
    }
}



/*--------- CSS Reset for Tablet & Mobile ----------*/

@media handheld, only screen and (min-width: 768px){
    .header{

        .menu-bar{
                height:82px;
                background-color: $default-bg;
                
            .m-lvl1{
                z-index: 999;
                display: flex;
                gap:calc($spacer / 2);
                justify-content: space-between;
                transition: $transition;

                > img{max-height:75px; margin-right:$spacer;}

                > a{
                    display: block;
                    text-transform: uppercase;
                    color: $default-text;
                    padding-top:calc($spacer * .75);
                    font-size:115%;
                    border-top: 4px transparent solid;
                    transition: $transition;

                    &:hover, &:active{
                        border-top-color:$info;
                        transition: $transition;
                    }
                }

                &:hover + .sous-menu{
                        top:0;
                        box-shadow: 0 8px 6px rgba(0,0,0,.4);
                        transition: $transition;
                    }
            }

            .sous-menu{
                top:-500px;
                z-index: -1;
                position: relative;
                background-color:$default-bg;
                padding-bottom:.75em;
                transition: $transition;

                .content-wrapper{
                    display: flex;
                    gap:calc($spacer / 2);
                    justify-content: space-between;

                    .m-lvl2{
                        padding:0 .5em;
                        border-left:1px solid $secondary-bg;
                        margin:0 0 0 1px;
                        flex: 1 1;
                        transition:$transition;

                        a{
                            display: block;
                            padding:.5em 0;
                            color:$default-text;

                            &:hover, &:active{ 
                                color:$primary;
                            }
                        }

                        .m-lvl3 a{
                            padding:0 0 .5em .75em;
                            font-size:90%;
                            color:$primary;
                            line-height: 1.1em;

                            &:hover{color:$info;}
                        }
                    }

                    &:before{
                        content:"";
                        display: block;
                        width:196px;
                    }
                }


            }

        }
        
        .mini-menu {
            font-size: 0.8em;
            padding:5px 0 0 0;
            text-align: right;
            color:$secondary-text;
            background-color: $default-bg;
            position: relative;
            z-index: 9999;

            a{
                padding: 0 5px;

                &:hover{color:$dark;}
            }

            .user-m{
                padding: 0 5px;
            }

            .connected{
                display:flex;
                justify-content:space-between;
                align-items:center;
                padding-bottom:15px;
            }
        }

        a.btn-connexion {
            background: $highlight;
            padding: 5px 18px 7px 18px !important;
            border-radius: 0 0 20px 20px;
            color: $default-bg !important;
            text-align: center;
            text-transform: uppercase;
        
            &:hover {
                text-decoration: none !important;
                background-color: $orange;
            }
        }
    }

    footer{
        padding:calc($spacer * 1.5) $spacer;
    
        > section{
            display:flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
    
            img{max-height:45px; padding:0 5px;}
        }
    }
}


@media handheld, only screen and (min-width: 1024px){

}


/*--------- Retina Styles ----------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .menu-click {
        background-image: url("../../Rodi2025/images/retina/btn_menu@2x.png");
        -webkit-background-size: 29px 19px;
        -moz-background-size: 29px 19px;
        background-size: 29px 19px;
    }
}