html, body {
    background:$default-bg;
    margin: 0;
    padding: 0;
    font-family:$sans-serif;
    color: $default-text;
    font-size:14px;
    line-height: 1.2em;
}

*{box-sizing: border-box;}

img, object, embed, iframe {
    max-width: 100%;
}
p, .RadPicker {
    margin: 0 0 .5em 0;
}
img {
    border: 0;
    height: auto;

    &.img-r{width:100%;}
}

.pc-display {
    display: none;
}

.DNNEmptyPane {
    display: none !important;
    margin:0 !important;
    padding:0 !important;
}

.content-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.bg-secondary{
    background: $secondary-bg url(images/concrete.jpg) repeat;
}

.dark-bg{
    background-color: $dark;
    color:$default-bg;

    a{color: $default-bg;}
}

.bg-colored{
    background-color: $info;
    color: $default-bg;
}

/* Layout général */
.grid{
    display:grid;
    grid-template-columns: 1fr;
    padding:$spacer calc($spacer / 2);
    row-gap:calc($spacer / 2);
    column-gap: $spacer;

    &.col-2{
        grid-template-columns: 1fr;
        gap:calc($spacer / 2);
        padding:0;
    }

    &.col-3{
        grid-template-columns: 1fr;
        gap:calc($spacer / 2);
        padding:0;
    }

    > h2{text-align: center;}
}



/* ----- ATTENTION ----- */
/*Ne pas utiliser "row" : il est réservé à la copatibilité des anciens modules et aux anciens block content !!! */

/* alignements flex */
.row-fluid{
    display: flex;
    align-items: center;
    gap: $spacer;

    &.centered{
        justify-content: center;
    }

    .flex-grow{flex-grow: 1;}
}


/* Alignements */
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align:left;}

.relative{position:relative;}

.v-top{align-self:start;}
.v-middle{align-self:center;}
.v-bottom{align-self:end;}


/* Largeurs */
.width-3{width:25%}
.width-4{width:calc(100% / 3);}
.width-6{width:50%;}
.width-8{width:calc(100% * 2 / 3);}
.width-9{width: 75%;}
.width-12{width: 100%;}

.h-center > *{margin-left:auto;margin-right:auto;}
.h-right > *{margin-right: 0; margin-left:auto;}
.h-left > *{margin-right: auto; margin-left:0;}


/* Spacers */
.m-0{margin:0;}

.m-1{margin:calc($spacer / 2);}
.mx-1{margin: 0 calc($spacer / 2);}
.my-1{margin: calc($spacer / 2) 0;}

.m-2{margin:$spacer;}
.mx-2{margin: 0 $spacer;}
.my-2{margin: $spacer 0;}

.m-3{margin:$spacer * 1.5;}
.mx-3{margin: 0 calc($spacer * 1.5);}
.my-3{margin: calc($spacer * 1.5) 0;}

.m-4{margin:$spacer * 2;}
.mx-4{margin: 0 calc($spacer * 2);}
.my-4{margin: calc($spacer * 2) 0;}

.m-5{margin:$spacer * 3;}
.mx-5{margin: 0 calc($spacer * 3);}
.my-5{margin: calc($spacer * 3) 0;}


.p-0{padding:0;}
.px-0{padding-left:0; padding-right:0;}
.py-0{padding-top:0; padding-bottom:0;}
.pt-0{padding-top:0;}
.pb-0{padding-bottom:0;}

.p-1{padding:calc($spacer / 2);}
.px-1{padding-left:calc($spacer / 2) !important; padding-right:calc($spacer / 2) !important;}
.py-1{padding-top:calc($spacer / 2); padding-bottom:calc($spacer / 2);}
.pt-1{padding-top:calc($spacer / 2);}
.pb-1{padding-bottom: calc($spacer / 2);}

.p-2{padding:$spacer;}
.px-2{padding-left:$spacer; padding-right:$spacer;}
.py-2{padding-top:$spacer; padding-bottom:$spacer;}
.pt-2{padding-top:$spacer;}
.pb-2{padding-bottom: $spacer;}

.p-3{padding:$spacer * 1.5;}
.px-3{padding-left:$spacer * 1.5; padding-right:$spacer  * 1.5;}
.py-3{padding-top:$spacer  * 1.5; padding-bottom:$spacer  * 1.5;}
.pt-3{padding-top:$spacer * 1.5;}
.pb-3{padding-bottom: $spacer * 1.5;}

.p-4{padding:$spacer * 2;}
.px-4{padding-left:$spacer * 2; padding-right:$spacer  * 2;}
.py-4{padding-top:$spacer  * 2; padding-bottom:$spacer  * 2;}
.pt-4{padding-top:$spacer * 2;}
.pb-4{padding-bottom: $spacer * 2;}

.p-5{padding:$spacer * 3;}
.px-5{padding-left:$spacer * 3; padding-right:$spacer  * 3;}
.py-5{padding-top:$spacer  * 3; padding-bottom:$spacer  * 3;}
.pt-5{padding-top:$spacer * 3;}
.pb-5{padding-bottom: $spacer * 3;}


/* Panes */
.content{
    margin-top:60px;
    display:grid; /* évite le collapse des marges avec le header */
}

.content-membre{
    margin-top:65px;
}


/* Tableau de bord Espace Membre (le reste est géré directement par news) */
.dashboard{
    padding:0 calc($spacer / 2) !important;

    > div:first-child{order:3;}
}


@media handheld, only screen and (min-width: 768px){
    .content{
        margin-top:102px;
    }
    .content-membre{
        margin-top:65px;
    }
    
    .row-fluid{
        column-gap: calc($spacer * 1.5);
    }

    .grid{
        grid-template-columns: repeat(12, 1fr);
        padding:$spacer calc($spacer / 2);
        row-gap:calc($spacer / 2);
        column-gap: $spacer;
    
        &.col-2{
            grid-template-columns: repeat(2, 1fr);
            gap:$spacer * 1.5;
            padding:0;
        }
    
        &.col-3{
            grid-template-columns: repeat(3, 1fr);
            /*gap:$spacer * 1.5;*/
            padding:0;
        }
    
        > .col-sm-12{grid-column: span 12;}
        > .col-sm-11{grid-column: span 11;}
        > .col-sm-10{grid-column: span 10;}
        > .col-sm-9{grid-column: span 9;}
        > .col-sm-8{grid-column: span 8;}
        > .col-sm-7{grid-column: span 7;}
        > .col-sm-6{grid-column: span 6;}
        > .col-sm-5{grid-column: span 5;}
        > .col-sm-4{grid-column: span 4;}
        > .col-sm-3{grid-column: span 3;}
        > .col-sm-2{grid-column: span 2;}
    
        > h2{text-align: center;}
    }

    .dashboard > div:first-child{order:0;}
}


@media screen and (min-width: 960px) {
    html, body{font-size:16px;}
    .pc-display{display:block;}
    .mobile-display{display:none;}

    .content-wrapper {
        max-width:940px;
    }
    .grid.col-3{gap:calc($spacer * 1.5);}

    .content.content-membre{
        margin-top:140px;

        .bg-secondary{padding-top:$spacer;}
    }
}


@media handheld, only screen and (min-width: 1280px){
    .content-wrapper {
        max-width:$content-width;
    }
    .row-fluid{
        column-gap: calc($spacer * 3);
    }
}


