.ais-news-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 15px 30px 15px;
    padding-top:15px;

    .news-sort{
        display:flex;
        row-gap:.4em;
        column-gap: 1.5em;
        flex-wrap: wrap;


        > a{
            color: $default-text;
            display: block;
            /*font-size:.75em;*/

            &::after{
                display: block;
                content:"";
                width:50%;
                height:2px;
                border-bottom:3px solid transparent;
                margin: 0 auto;
                transition: $transition;
            }

            &.active, &:hover{
                color:$info;
                transition: $transition;

                &::after{
                    border-color:$info;
                    width: 80%;
                    transition: $transition;
                }
            }
        }
    }
    
    .news-display{
        flex-shrink: 0;

        .ais-btn{
            padding:0 5px;
        }
    }
}



/* Card view */
.ais-news-layout{
    /*margin:0 -15px;*/

    &:after{
        content: '';
        display: block;
        clear: both;        
    }

    .mini-news{
        display: block;
        background-color: $default-bg;
        transition: $transition;
        text-align: center;
        margin:0 15px 30px 15px;
        border-radius: 5px;
        width: calc(100% - 30px);
        float: left;
        
        &:hover{
            transition: $transition;
            box-shadow: $shadow-box;
            transform: translateY(-4px);
        }

        img{
            border-radius: 5px 5px 0 0;
            min-height: 52px;
        }

        .news-type{
            display: block;
            text-align: left;
            font-weight: 900;
            font-size:70%;
            color:$info-2;
            padding:.7em 0 0 1em;
            position: relative;

            span{text-transform: uppercase;}
            .news-club{
                display: inline-block;
                font-weight:400;
                margin-left:.5em;
                padding-left:.5em;
                border-left:1px solid $light-text;
            }
        }

        .news-date{
            display: block;
            font-size: 150%;
            color:$primary;
            padding:1em;
            text-transform: uppercase;
        }
        
        .news-title{
            display: block;
            font-size:115%;
            padding:0 1em 1em 1em;
            line-height: 1.15em;
            color:$default-text;
        }

        .news-location{
            display: block;
            color:$secondary-text;
            padding:0 1em 1.5em 1em;
        }

        .news-link{
            display: inline-block;
            color:$secondary-text;
            display: block;
            padding:0 1em .7em 1em;
            text-align: right;
            font-size:90%;

            i{
                color:$info-2;
                font-size: 80%;
            }

            &:hover{
                color:$info-2;
                transform: translateX(4px);
            }
        }

    }
}

    /* Hack largeur & marges des cartes dans une grid */
.grid .ais-news-layout {
    margin:0;

    .mini-news{
        width: 100%;
        margin:0;
    } 
}

.grid .ais-news-layout-list {
    .info-link.small{
        margin-top:-30px;
        display: block;
        padding:10px 0;
        font-style: italic;
    }
}


/* List view */
.ais-news-layout-list{
    .mini-news{
        display: flex;
        background-color: $default-bg;
        transition: $transition;
        text-align: center;
        margin:0 15px 30px 15px;
        border-radius: 5px;
        
        &:hover{
            transition: $transition;
            box-shadow: $shadow-box;
            transform: translateY(-4px);
        }

        img{
            display:none;
        }
        
        > span:last-child{
            flex-grow: 1;
        }

        .news-type{
            display: block;
            text-align: left;
            font-weight: 900;
            font-size:70%;
            color:$info-2;
            padding:.7em 0 0 1.8em;
            position: relative;

            span{text-transform: uppercase;}
            .news-club{
                display: inline-block;
                font-weight:400;
                margin-left:.5em;
                padding-left:.5em;
                border-left:1px solid $light-text;
            }
        }

        .news-date{
            display: flex;
            border-radius: 5px 0 0 5px;
            font-size: 110%;
            color:$info;
            padding:.75em 1.5em;
            background-color: $dark;
            text-transform: uppercase;
            align-items: center;
            line-height: 1.4em;
            width: 50px;
            justify-content: center;

            p{
                margin:0;

                &::first-line{
                    color:$highlight;
                    font-size:200%;
                }                
            }

            &.danger{
                background-color: $highlight;
                p::first-line{color:$dark-text;}
            }
        }
        
        .news-title{
            display: block;
            font-size:115%;
            padding:0 1em .5em 1em;
            line-height: 1.15em;
            color:$default-text;
        }

        .news-location{
            display: block;
            color:$secondary-text;
            padding:0 1em 1.5em 1em;
        }

        .news-link{
            color:$secondary-text;
            display: block;
            padding:0 1em .7em 1em;
            text-align: right;
            font-size:90%;
            align-self: self-end;

            i{
                color:$info-2;
                font-size: 80%;
            }

            &:hover{
                color:$info-2;
                transform: translateX(4px);
            }
        }

    }
}


/* Calendar view */
.ais-news-layout-calendar {
    margin:0 15px 30px 15px;

    > div:nth-child(2) {
        background-color: $default-bg;
        border-radius: 5px;
        border: 1px solid var(--fc-border-color);
        /*.fc-list-table {
            margin: 1em;
            width: calc(100% - 2em);
        }*/
    }

    table {
        margin: 0;
    }

    
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
    font-size: 0.8em;
}


/* Detail view */
.ais-news-detail-head{
    display: flex;
    align-items: center;
    margin-bottom:$spacer;
    padding-top:15px;
    gap:1.5em;


    a{
        color: $light-text;

        &.active, &:hover{
            color:$dark;
            transition: $transition;
        }
    }

    > a{
        display: flex;
        align-items: center;
        gap:.5em;
        text-align: center;
    }

    > div{
        width:100%;
    }
}


.ais-news-detail{
    background-color: $default-bg;
    border-radius: 5px;
    padding:$spacer;
    margin:15px 0;
    text-align: justify;

    .news-detail-header{
        .row-fluid{
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: $spacer;
        }

        h1{
            margin:0;
            font-size:2em;
            text-align: center;
            font-weight: normal;
        }

        .news-type{
            display: block;
            text-align: left;
            font-weight: 900;
            font-size:70%;
            color:$info-2;
            position: relative;
            text-transform: uppercase;

            .news-club{
                display: inline-block;
                font-weight:400;
                margin-left:.5em;
                padding-left:.5em;
                border-left:1px solid $light-text;
            }
        }

        .news-date{
            display: block;
            font-size: 210%;
            color:$light-text;
            text-transform: uppercase;
        }    
    }

    p{
        margin: 8px 0;
    }
}

.ais-news-detail-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:calc($spacer / 2);
    gap:1.5em;

    > a{
        display: flex;
        align-items: center;
        gap:.5em;
        text-align: center;
        color: $light-text;

        &.active, &:hover{
            color:$dark;
            transition: $transition;
        }
    }
}





@media screen and (min-width: 580px){
    .ais-news-layout{
        .mini-news{
            width: calc(50% - 30px);
        }
    }

    .ais-news-layout-list{
        .mini-news{
            > img{
                display: block;
                max-width: 110px;
            }

            > span:last-child{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .ais-news-layout{
        .mini-news{
            width: calc(33.33% - 30px);
        }
    }

    .ais-news-detail-head > div{
        width: unset;
        flex-grow:1;
    }
}


@media screen and (min-width: 1024px) {
    .ais-news-layout, .ais-news-layout-list, 
    .ais-news-layout-calendar, .ais-news-head{ margin:0 0 30px 0;}

}