
.no-select{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}

A, a:visited {
    color: $primary;
    text-decoration: none;
    transition:$transition;

    &:hover {
        color:$info;
        transition:$transition;
    }
    
    img {border: 0;}
}

h1 {
    font-size: 22px;
    line-height: 1.2em;
    color:$dark;
    font-weight:$font-weight-bold;
    font-family: $sans-serif;
}

h2 {
    font-size: 22px;
    line-height: 1.2em;
    font-weight:$font-weight-normal;
    font-family: $sans-serif;
    color: $info;
}

h3{
    font-size:2em;
    line-height: 1.2em;
    font-weight:$font-weight-bold;
    font-family: $sans-serif;
    color: $info;
}

h4 {
    font-size: 16px;
    line-height: 1.2em;
    font-weight:$font-weight-bold;
    font-family: $sans-serif;
}

h5{
    font-weight:$font-weight-normal;
    font-family: $sans-serif;
    color: $default-bg;
    font-size: 16px;
}

h6 {
    font-size: 14px;
    line-height: 1.2em;
    font-family: $sans-serif;
}

.lead{font-size: 1.2em;}


/* Textes */
.primary-text{
    color: $primary;
}
.info-text{
    color:$info;
}
.white-text{
    color: $default-bg;
}
.mute{
    color:$secondary-text;
}


.Head {
    font-weight: bold;
    font-size: 15px;
}

.SubHead {
    font-weight: bold;
    font-size: 14px;
}

.SubSubHead {
    font-size: 13px;
}

.Normal {
    font-size: 1em;
    line-height: 1.2em;
}

.SmallLink, .small {
    font-size: 0.8em;
    white-space: nowrap;
}

/* Liens */
.primary-link, .primary-link:visited{
    color:$primary;
    &:hover{color:$info;}
}

.info-link, .info-link:visited{
    color:$info;
    &:hover{color:$primary;}
}

.secondary-link, .secondary-link:visited{
    color:$secondary-text;
    &:hover{color:$light-text;}
}

.light-link{
    color:$light-text;
    &:hover{color:$secondary-text;}
}

.close-link{
    padding:0 0 15px 15px;
    color:$secondary-text;

    &:hover{
        cursor: pointer;
        color: $default-text;
    }
}


/* Pastilles notifications */
.badge {
  position: absolute;
  top:0;
  right:1px;
  width:10px;
  height:10px;
  border-radius: 50%;
  background: $danger;
  display: block;
  border:1px solid $secondary-bg;
}
.fa-bell.fa-xl + .badge{top:10px;right:12px;}


@media handheld, only screen and (min-width: 768px){
    h3{
        font-size:2.5em;
    }
}

@media handheld, only screen and (min-width: 1024px){
    h3{
        font-size:3em;
    }
}