<h2 class="text-center primary-text pb-2">Bienvenue dans votre espace membre</h2>

<div class="grid col-3 dashboard">
    <div class="ais-news-layout-list">
        <a href="#" class="mini-news">
            <span class="news-date"><p>12 JAN</p></span>
            <img src="https://rodi1730.aisdev.net/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=07741e23-69c8-49f8-abae-029927ff53b4">
            <span>
                <!-- <span class="news-type" style="color:#d91b5c">
                    <span>évènements à venir</span>
                    <span class="news-club">La londe les maures</span>
                </span> -->

                <span class="news-title">Dessine-moi la paix</span>
                <span class="news-link">en savoir plus <i class="fa-solid fa-square-full" style="color:#d91b5c"></i></span>
            </span>
        </a>

        <a href="#" class="mini-news">
            <span class="news-date"><p>22 JUIN</p></span>
            <img src="https://rodi1730.aisdev.net/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=7646378c-f585-424d-ba10-2161e697be4d">
            <span>
                <!-- <span class="news-type" style="color:#d91b5c">
                    <span>évènements à venir</span>
                    <span class="news-club">District</span>
                </span> -->

                <span class="news-title">Convention internationale</span>
                <span class="news-location"><i class="fa-solid fa-location-dot"></i> Singapour</span>
                <span class="news-link">en savoir plus <i class="fa-solid fa-square-full" style="color:#d91b5c"></i></span>
            </span>
        </a>

        <a href="/espace-membre/mon-club/communication/agenda" class="info-link small">voir l'agenda</a>
    </div>

    <div class="ais-news-layout-list">
        <a href="#" class="mini-news">
            <span class="news-date"><p>7 JAN</p></span>
            <span>
                <span class="news-type" style="color:#ff760">
                    <span>Prochaine réunion</span>
                </span>

                <span class="news-title">Ordre du jour</span>

                <span class="news-link"><i class="fa-solid fa-chevron-right" style="color:#ff760"></i> s'inscrire</span>
            </span>
        </a>

        <a href="#" class="mini-news">
            <span class="news-date danger"><p>4</p></span>
            <span>
                <span class="news-type" style="color:#000">
                    <span>Vous avez</span>
                </span>
                <span class="news-title">messages non lus</span>
                <span class="news-link"><i class="fa-solid fa-chevron-right" style="color:#000"></i> lire</span>
            </span>
        </a>

        <a href="#" class="mini-news">
            <span>
                <span class="news-type" style="color:#ff760">
                    <span>Dernier bulletin</span>
                </span>

                <span class="news-title">Titre</span>

                <span class="news-link"><i class="fa-solid fa-chevron-right" style="color:#ff760"></i> consulter</span>
            </span>
        </a>

        <a href="#" class="mini-news">
            <span>
                <span class="news-type" style="color:#ff760">
                    <span>La lettre du Gouverneur</span>
                </span>

                <span class="news-title">Titre</span>

                <span class="news-link"><i class="fa-solid fa-chevron-right" style="color:#ff760"></i> lire</span>
            </span>
        </a>
    </div>

        <div class="ais-news-layout">
        <div class="mini-news">
            <a href="#">
                <img src='https://rodi1730.aisdev.net/DesktopModules/BlocksContent/API/Blocks/getMedia?guid=2def8340-b447-4183-bf23-4683554b529e'>

                <span class="news-type" style="color:#d91b5c">
                    <span>Prochain évènement de mon club</span>
                </span>

                <span class="news-date">21 OCT</span>
                <span class="news-title">End Polio Now - Course de T-Rex</span>
                <span class="news-location"><i class="fa-solid fa-location-dot"></i> Base nautique de Fréjus</span>
                <span class="news-link">voir le détail <i class="fa-solid fa-square-full" style="color:#d91b5c"></i></span>
            </a>
        </div>
    </div>
</div>

