
<script type="text/x-template" id="blockimagecollection-template">
    <a ref="top"></a>
    <div v-if="c">
        <div v-if="editing" class="bc-editing">
            <button type="button" v-on:click="cancel()" class="btn btn-close"><i class="fa fa-times"></i></button>
            <div class="row">
                <span>Présentation : </span>
                <label class="radio-inline"><input type="radio" name="type" :value="''" v-model="e.Type" />Liste</label>
                <label class="radio-inline"><input type="radio" name="type" :value="'gallery'" v-model="e.Type" />Galerie</label>
                <label class="radio-inline"><input type="radio" name="type" :value="'slider'" v-model="e.Type" />Caroussel</label>
            </div>
         
            <div class="row">
                <span>Titre&nbsp;:</span>
                <input type="text" v-model="e.Title" class="form-control" />
            </div>
            <div>
                <input class="input-file" type="file" ref="document" v-on:change="onChangeDocumentUpload()" style="display:none" multiple>
                <div v-if="e.Images" v-for="(i,index) in e.Images" class="grid">
                    <div class="col-sm-4">
                        <img :src="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID" />
                    </div>
                    <div class="col-sm-8">
                        <span> Légende :</span>
                        <input type="text" v-model="i.Name" class="form-control" /><br />
                        <button type="button" v-on:click="deleteImage(index)" class="btn btn-sm btn-danger">Supprimer Photo</button>&nbsp;
                        <button type="button" v-on:click="upFirst(index)" v-if="index>0" class="btn btn-sm btn-default" title="Tout en haut"><i class="fa fa-angle-double-up"></i></button>
                        <button type="button" v-on:click="up(index)" v-if="index>0" class="btn btn-sm btn-default" title="Monter"><i class="fa fa-angle-up"></i></button>
                        <button type="button" v-on:click="down(index)" v-if="index<e.Images.length-1" class="btn btn-sm btn-default" title="Descendre"><i class="fa fa-angle-down"></i></button>
                        <button type="button" v-on:click="downLast(index)" v-if="index<e.Images.length-1" class="btn btn-sm btn-default" title="Tout en bas"><i class="fa fa-angle-double-down"></i></button>
                        <hr/>
                    </div>
                    <div class="col-sm-12 pe-spacer size10"></div>
                </div>
                <div v-if="uploading()">
                    <img src="/images/spinner.gif" /> Envoi en cours
                </div>
                <br />
                <button type="button" v-if="!uploading()" class="btn btn-primary" v-on:click="addDocument">Choisir une ou plusieurs photo(s)</button><br />
                <em class="text-info">Les fichiers doivent être des photos et ne doivent pas dépasser 28 Mo<br />(si vous choisissez un fichier PDF, la 1ere page est convertie automatiquement en photo)</em><br />
            </div>
            <div style="text-align:center;margin-top:1em;">
                <button type="button" v-on:click="validate()" class="btn btn-success">Valider</button>
            </div>
        </div>
        <div v-if="!editing">
            <h2>{{c.Title}}</h2>
            <div class="Grow" ref="imagescollection" v-if="c.Type=='gallery'">
                <div class="Gcolumn" v-for="(c,index) in columns()" :style="getColumnStyle()">
                    <a :data-fslightbox="guid" v-for="i in c"  :data-title="i.Name" :data-alt="i.Name" :data-caption="i.Name" :src="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID" :href="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID">
                        <img v-for="i in c" :src="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID" :title="i.Name" />
                   </a>
                 </div>
            </div>

            <div class="Lrow" v-if="!c.Type">
                <a :data-fslightbox="guid" v-for="i in c.Images" :data-alt="i.Name" :data-caption="i.Name" :href="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID">
                    <img  :src="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID" :title="i.Name" />
                </a>
            </div>

            <div v-html="slickStyles()">

            </div>
            <div :class="sliderName" :id="sliderName" ref="imagesslider" v-if="c.Type=='slider'">
                <a :data-fslightbox="guid" v-for="i in c.Images" :data-alt="i.Name" :data-caption="i.Name" :href="'/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID">
                    <div :class="evenBox" :style="{ backgroundImage: 'url(/DesktopModules/BlocksContent/API/Blocks/getMedia?guid='+i.GUID }">
                    </div>
                </a>
            </div>
           
        </div>
    </div>
</script>
<script>
    if (typeof BlockImageCollection == 'undefined') {
        BlockImageCollection = {
            template: '#blockimagecollection-template',
            name: 'BlockImageCollection',
           props: [
                'content', 'moduleid', 'guid'
            ],
          
            emits: [
                'changed',
                'cancel'
            ],
            data() {
                return {
                    source: [],
                    sourceIndex: 0,
                    toggler: true,
                    editing: false,
                    c: {},
                    nbuploaded:0,
                    width: 0,
                    height: 452,
                    pct: 100,
                    fichiers: [],
                    e: {
                        Images: []
                    },
                    sliderName: 'slider' + this.guid.substring(0, 6),
                    evenBox: 'evenbox' + this.guid.substring(0, 6),
                    lastY: window.screenY,
                    slickOptions: {
                        dots: true,
                        slidesToShow: 1,
                        infinite: false,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        pauseOnFocus: true,
                        pauseOnHover: true,
                        pauseOnDotsHover: true,
                    },
                }
            },
            methods: {
                nbup() {
                    var nb = 0;
                    this.fichiers.forEach(f => {
                        if (f.uploaded) nb++;
                    });
                    this.nbuploaded = nb;
                    return nb;
                },
                uploading() {
                    var u = this.fichiers.length>0 && this.nbup()<this.fichiers.length;
                    
                    if (!u && this.$refs.document)
                        this.$refs.document.value = null;
                    return u;
                },
                upFirst(i) {
                    const b = this.e.Images.splice(i, 1)[0];
                    this.e.Images.splice(0, 0, b);
                },
                up(i) {
                    const b = this.e.Images.splice(i, 1)[0];
                    this.e.Images.splice(i - 1, 0, b);
                },
                down(i) {
                    const b = this.e.Images.splice(i, 1)[0];
                    this.e.Images.splice(i + 1, 0, b);
                },
                downLast(i) {
                    const b = this.e.Images.splice(i, 1)[0];
                    this.e.Images.push(b);
                },
                slickStyles() {
                    return "<style>." + this.evenBox + "{position:relative;width:100%;min-height:"+this.height+"px;background-size:cover;background-position:center}." + this.evenBox + " img{position:absolute;z-index:2;display:block;top:0;left:0;width:100%}." + this.evenBox + " h3{position:absolute;z-index:3;display:block;top:0;left:15px;width:auto;text-align:left;color:#fff;background-color:#000;padding:15px 15px 15px 10px;max-width:calc(100% - 30px);border-radius:4px}." + this.sliderName + " .slick-next{right:5px;z-index:9}." + this.sliderName + " .slick-prev{left:5px;z-index:9}." + this.sliderName + " .slick-dots{position:absolute;bottom:3px;width:60%;left:50%;transform:translateX(-50%);border-radius:3px}." + this.sliderName + " .slick-dots li button:before{color:#fff;opacity:1;border-radius:50%;border:1px solid #00246c;background-color:#fff}." + this.sliderName + " .slick-dots li.slick-active button:before{opacity:1;color:#00246c;background-color:#00246c}." + this.sliderName + " .slick-prev:before,.slick-next:before{font-size:40px}." + this.sliderName + " .slick-prev,.slick-next{width:40px;height:40px}." + this.sliderName + " .slick-dots li button:before{font-family:'slick';font-size:16px}." + this.sliderName + " .slick-dots li{margin:7px 5px 3px 5px}." + this.sliderName + " .slick-dots li button:before{width:10px;height:10px;content:' '}." + this.sliderName + "{margin:3px}</style>";
                },
                getColumnStyle() {
                    return 'flex:' + this.pct + '%;max-width:' + this.pct + '%;';
                },
                updateWidthHeight() {
                    var images = null;
                    var parentRect = null;
                    if (this.$refs.imagescollection) {
                        images = this.$refs.imagescollection;
                        parentRect = this.$refs.imagescollection.parentElement;
                    }
                    else if (this.$refs.imagesslider) {
                        images = this.$refs.imagesslider;
                        parentRect = this.$refs.imagesslider.parentElement;
                    }                        
                    else
                        return;

                    this.$nextTick(() => {
                        var rect = images.getBoundingClientRect();
                        this.width = rect.width;
                 
                        if (parentRect && this.width < parentRect.getBoundingClientRect().width)
                            this.width = parentRect.getBoundingClientRect().width;
                        if (rect.width > window.innerWidth)
                            this.width = window.innerWidth;

                        this.height = Number.MAX_SAFE_INTEGER;
                        this.c.Images.forEach((i) => {
                            let ratio = i.Height / i.Width;
                            let height = Math.round(this.width * ratio, 0);
                            this.height = Math.min(this.height, height);
                        });

                        if (this.$refs.imagesslider) {
                            
                            this.$refs.imagesslider.style.width = this.width +'px';
                        };


                        this.$nextTick(() => {
                            refreshFsLightbox();
                            setTimeout(()=>refreshFsLightbox(),1000);
                        });

                        
                           
                        
                    });
                    
                },
                
                columns() {
                    var cols = [];
                    if (!this.c.Images || this.width==0 || this.c.Type!='gallery')
                        return cols;
                    const padding = 8;
                    const marginv = 8;
                    var y = [];
                    var col = 0;
                    var maxcol = Math.round(this.width / 300, 0);
                    this.pct = Math.round(100 / maxcol, 0);
                    var colWidth = Math.round((this.width - (padding *maxcol)) / maxcol, 0);
                    for (var i = 0; i < maxcol; i++) {
                        cols.push([]);
                        y.push(0);
                    }
                    this.c.Images.forEach((c) => {
                        if (c.Height) {
                            let ratio = c.Height/ c.Width;
                            let height = Math.round(colWidth * ratio, 0) + marginv;
                            let max = Number.MAX_SAFE_INTEGER;
                            col = 0;
                            for (var i = 0; i < maxcol; i++)
                            {
                                if (y[i] < max)
                                {
                                    col = i;
                                    max = y[i];
                                }
                            }
                            y[col] += height;
                            cols[col].push(c);
                        } else {
                            cols[col].push(c);
                            col++;
                            if (col == maxcol)
                                col = 0;
                        }

                    });
                    this.y = y;
                    return cols;
                },
                edit() {
                    this.lastY = window.scrollY;
                    if(this.c.Type=='slider')
                        $('.' + this.sliderName).slick('unslick');
                    this.editing = true;
                    this.e = JSON.parse(JSON.stringify(this.c));
                },
                validate() {
                    window.scrollTo(window.scrollX, this.lastY);

                    this.c = JSON.parse(JSON.stringify(this.e));
                    this.editing = false;

                    
                    this.onChange();

                    this.$nextTick(() => {          
                        this.updateWidthHeight();
                        if (this.c.Type == 'slider')
                            $('.' + this.sliderName).slick(this.slickOptions);                    
                    });
                },
                cancel() {
                    this.editing = false;
                
                    this.$emit('cancel');

                    this.$nextTick(() => {
                        this.updateWidthHeight();
                        if (this.c.Type == 'slider')
                            $('.' + this.sliderName).slick(this.slickOptions);
                    });
                },
                onChange() {
                    this.$emit('changed', this.c);
                },
                deleteImage(i) {
                    this.e.Images.splice(i, 1);
                },
                addDocument(event) {
                    event.preventDefault();

                    this.$refs.document.click();
                },
                onChangeDocumentUpload() {
                    this.fichiers = [];
                    if (this.$refs.document.files.length == 0)
                        return;
                    
                    for (var i = 0; i < this.$refs.document.files.length;i++) {
                        this.fichiers.push({
                            file: this.$refs.document.files[i],
                            uploaded: false
                        });
                    }
                    
                    this.uploadMedia({
                        type: 'photo'
                    }, this.onDocumentUploaded, (r) => { alert('une erreur est survenue, veuillez re-tenter ou nous contacter') });
                },
                onDocumentUploaded(r) {

                    console.log('onDocumentUploaded', r);
                    const image = r.data;
                    image.Name = image.Filename;
                    this.e.Images.push(image);

                    this.fichiers.forEach(f => {
                        if (f.file.name == image.Filename) {
                            f.uploaded = true;                          
                        };                     
                    });

                },
                uploadMedia(meta, callbackok, callbackerror) {
                    this.fichiers.forEach(fichier => {
                        if (fichier.file.size > 28 * 1024 * 1024) {
                            alert('Le fichier est trop gros, taille maximum 28 Mo, veuillez re-tenter avec un fichier plus petit ou nous contacter');
                            this.fichiers = [];
                            return;
                        }
                        let formData = new FormData();
                        formData.append('file', fichier.file);
                        formData.append('allowPdf2Image', true);

                        if (meta) {
                            for (let p in meta) {
                                formData.append(p, meta[p]);
                            }
                        }
                        _yemon[this.moduleid].service.postFile('/setMedia',
                            formData,
                            (r) => callbackok(r),
                            (r) => callbackerror(r)
                        );

                    });
                   /* let fichier = this.fichiers[this.fichiers.length - 1];*/
                   
                },
            },
            created() {
                window.addEventListener("resize", this.updateWidthHeight);
            },
            destroyed() {
                window.removeEventListener("resize", this.updateWidthHeight);
            },
            mounted() {
                this.c = this.content;

                this.$nextTick(() => {
                    this.updateWidthHeight();
                    if (this.c.Type == 'slider')
                        $('.' + this.sliderName).slick(this.slickOptions);

                  
                  
                });
                
               
            },

        }
    }

</script>
