/* EDITION OFF -------------- */
.admin > div > div{position:relative;}

.close-edit, .open-edit{
    position:absolute;
    right:0;
    top:0;
    border:none;
    border-radius:0 0 0 80%;
    padding:.2em .3em .5em .6em;
    background-color:rgba(201,222,233,.8);
    transition:all .3s ease-in-out;
    color:#ffffff;
    font-size:1.2em;
    z-index:9;
}
.close-edit:hover, .open-edit:hover{
    background-color: #01b4e7;
    transition:all .3s ease-in-out;
}



/* EDITION ON -------------- */
.bc-buttonBar {
    display: flex;
    justify-content: center;
    column-gap: 1em;
    flex-wrap: wrap;
    row-gap: 1em;
    transition: all 0.5s ease-in-out;
    padding-bottom: .5em;
}

.bc-dotted {
    border: 2px #eee dashed;
    padding: .25em;
    margin-bottom: 1em;
    transition: all 0.5s ease-in-out;

    &:hover {
        border: 2px lightgrey dashed;   
        transition: all 0.5s ease-in-out;
    }
}

.bc-editing {
    box-shadow: 0 0 35px 5px rgba(0,0,0,.9);
    background-color: #ffffff;
    padding: 2em 3em;
    position: relative;
    z-index: 999;

    .btn-close{
        border-radius:50%;
        position:absolute;
        top:-10px;
        right:-10px;
        padding:3px 10px;
        font-size:1.2em;
    }

    > h3{
        font-weight: normal;
        font-size: 1.5em;
        text-align: center;
        margin:0 0 1em 0;
    }

    .row{
        display: flex;
        align-items: center;
        gap:1em;
        padding-bottom:1em;

        &.centered{
            justify-content: center;
        }
    }

    input[type="radio"]{
        height:20px;
        width: 20px;
        margin: 5px;
    }

    input[type="text"] + .form-inline{
        margin-top:-1em;
    }

    .radio-inline{
        display: flex;
        align-items: center;

        &.radio-img{
            flex-direction:column-reverse;
            text-align:center;
            font-size:85%;
            justify-content: stretch;
            flex:1 1;

            > img{
                width:100px;
                padding:.25em 0;
            }
        }
    }
}

.bc-label{
    font-size:.8em;
    color:#005daa;
    font-weight: bold;

    + .form-control{
        margin:0 0 .75em 0;
        display: flex;
        gap: 1em;

        > span{
            display:flex;
            flex-direction: column;
            align-items: center;

            > label{
                display:block;
                padding:0;
                flex-grow:1;
            }
        }
    }
}

.form-inline{
    margin:0 0 .75em 0;
    display: flex;
    gap: 1em;

    .form-control{margin:0;}
}

small + .form-control{margin: 0 0 1em 0;}

.form-control.color-picker{
    flex-wrap: wrap;
    gap:.5em;

    label{
        font-weight: bold;
        padding:.75em 1.1em !important;
    }        
}

.bc-photo > div > img{
    max-height:400px;
}

.rounded-img{
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

fieldset{
    margin-bottom:3em;

    .bulles-choice{
        display: flex;
        flex-wrap: wrap;
        gap:1em;
        margin-bottom:.5em;
    }

    .bullets{
        display:flex;
        flex-direction: column;
        align-items: center;

        .rounded-img{
            width: 120px;
            height: 120px;
        }
    }
}

.img-positions {
    padding:1em 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

        .form-control{
            display: flex;
            margin-bottom:1em;

            &:last-child{margin-bottom:0;}
        }

        > div > img{max-width:300px;}
    
}

@media handheld, only screen and (min-width: 960px){
    fieldset{
        width: calc(50% - 2em - 1px);
        display:inline-block;
        
        &:nth-child(odd){padding-left:2em;}
        &:nth-child(even){
            padding-right:2em;
            border-right: 1px lightgray dashed;
        }
    }

    .img-positions {
        grid-template-columns: 1fr 350px;
        column-gap: 4rem;
    }

}