<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- register local configuration handlers -->
  <appSettings>
    <!-- RODI Platform Parameters -->
    <add key="AffectationsAdminClub" value="'Président','Secrétaire','Secrétaire Adjoint','Webmaster','Webmaster Adjoint','Protocole'"/>
    <add key="MenuClubRootTabId" value="##tabid##" />
    <add key="MenuMemberRootTabId" value="##tabid##" />
    <add key="NotificationsDebugDest" value="" />
    <add key="MailingsDebugDest" value="" />
    <add key="DistrictId" value="##districtnumber##" />
    <add key="DistrictUrl" value="##urldistrict##" />
    <add key="DistrictGuid" value="##districtguid##" />
    
    <add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Telerik.Web.UI.AsyncUploadConfiguration" />
    <add key="MobileViewSiteCookieName" value="dnn_IsMobile" />
    <add key="DisableMobileViewSiteCookieName" value="dnn_NoMobile" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AISRedirectLetsEncrypt" type="AIS.WEB.Redirect.LetsEncrypt" />
      <add name="ClubRewriter" type="ClubRewriter" />
    </modules>
  </system.webServer>
</configuration>